{% extends "base_auth.html" %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5 bg-primary text-white">

            <div class="card-body">
                <div class="title py-3"> <!-- corrected class attribute syntax -->
                    <h4>Register for an account</h4>
                </div>
                
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
          
                    {% include 'partials/_messages.html' %}

                    <div class="form-group py-2"> <!-- increased spacing -->
                        <input 
                        type="text" 
                        name="username" 
                        placeholder="Username"
                        id="usernameField" 
                        value="{{fieldValues.username}}"
                        class="form-control form-control-sm" 
                        />
                    </div>
                    <div class="invalid_feedback invalid-feedback" style="display:none">
                    </div>
                    <p class="text-sm text-success usernameSuccessOutput"></p>

                    <div class="form-group py-2"> <!-- increased spacing -->
                        <input 
                        type="email" 
                        name="email" 
                        placeholder="Email"
                        class="form-control form-control-sm" 
                        id="emailField"
                        value="{{fieldValues.email}}"
                        />
                    </div>
                    <div class="emailFeedBackArea invalid-feedback" style="display:none">
                    </div>

                    <div class="form-group py-2"> <!-- increased spacing -->
                        <input 
                        type="password" 
                        name="password" 
                        placeholder="Password"
                        class="form-control form-control-sm" 
                        id="passwordField"
                        />
                        <small class="float-right py-3 showPasswordToggle">SHOW</small>
                    </div>

                    <input type="submit" value="Register" class="btn btn-block btn-secondary submit-btn"/> <!-- Changed button class -->
                </form>
            </div>
        </div>
    </div>  
    <div class="col-md-4"></div>
</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}
